<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <title>[A06-A07] - Diretiva bind</title>
</head>
<body>

<div class="container"><div class="row"><div class="col-12">
    <h1>Diretiva bind</h1>

    <p>
        Para imprimir dentro de atributos das tags de html é necessário utilizar o bind.
    </p>

    <p>
        <code>
            &ltinput type="text" v-bind:value="nome">
        </code>
    </p>

    <p class='text-tip'>
        <span class="titulo">Atalho para o v-bind:</span> <br />
        É possível substituir o <i>v-bind</i> por: dois pontos ( <i>:</i> ), ex: <br />
        <code>
            &ltinput type="text" :value="nome">
        </code>
    </p>

    <hr>

    <div id="app01">
        <img v-bind:src="imagem" :alt="alt" width="200px">
    </div> <!-- #app01 ::end::-->

    <hr>

    <div id="app02">
        <div class="row">

            <div class="col-6">
                <p>
                    <input type="text" v-model="nome" placeholder="Digite seu nome" aria-label="Digite seu nome">
                </p>
            </div>

            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">@</span>
                    </div>

                    <input type="text" :value="nome" disabled class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>

        </div>
    </div>

    <hr>

    <div id="app03">
        <div class="row"><div class="col-12">
            <p>
                Digite a cor que o texto deve ter: <br /><br />
                text-primary, text-secondary, text-success, text-danger,
                text-warning, text-info, text-light, text-dark, text-body, text-muted, text-white, text-black-50,
                ou text-white-50.
            </p>
        </div></div>

        <div class="row">
            <div class="col-6">
                <p>
                    <input type="text" v-model="cssClass" placeholder="Digite uma das opções acima" aria-label="Digite uma das opções acima">
                </p>
            </div>

            <div class="col-6">
                <p :class="cssClass">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim ea accusamus amet a corrupti
                    nesciunt doloribus? Ut eius incidunt laudantium esse earum perferendis alias unde, corrupti
                    temporibus, mollitia, itaque facilis.
                </p>
            </div>
        </div>

    </div>

    <hr>

    <div id="app04">
        <p>
            Digite os comandos abaixo no console para alterar as definições dos botões:
        </p>
        <div class="row">
            <div class="col-6">
                <p>
                    <code>
                        $ app04.btnClassEnviar[1]['btn-lg']=false
                    </code>
                    <code>
                        $ app04.btnClassLimpar['btn-danger']=false
                    </code>
                </p>
            </div>

            <div class="col-6">
                <p>
                    <code>
                        $ app04.btnStyleLimpar[1]['text-transform'] = 'uppercase'
                    </code>
                    <code>
                        $ app04.btnStyleEnviar['font-size'] = '45px'
                    </code>
                </p>
            </div>
        </div>

        <p>
            <button class="btn" :class="btnClassLimpar" :style="btnStyleLimpar">Limpar</button>
            <button class="btn" :class="btnClassEnviar" :style="btnStyleEnviar">Enviar</button>
        </p>
    </div>



</div><!-- .col-12 ::end::--></div><!-- .row ::end:: --></div><!-- .container ::end:: -->

<script src="https://unpkg.com/vue"></script>

<script>
    let app01 = new Vue({
        el: "#app01",
        data:{
            imagem: "https://designhammer.com/sites/default/files/vue-components.svg",
            alt: "Testando....",
        }
    })

    let app02 = new Vue({
        el: "#app02",
        data: {
            nome: "",
        }
    })

    let app03 = new Vue({
        el: "#app03",
        data: {
            cssClass: "",
        }
    })

    let app04 = new Vue({
        el: "#app04",
        data: {
            btnClassLimpar:{
                'btn-danger': true,
                'btn-sm': false
            },
            btnClassEnviar: [
                'btn-primary', {'btn-lg': true}
            ],
            btnStyleLimpar: [
                {'font-size': '25px'},
                {'text-transform': 'lowercase'},
            ],
            btnStyleEnviar: {
                'font-size':'15px',
            }
        }
    })
</script>
</body>
</html>