<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">

  <title>[A02-A04] - Diretiva</title>
</head>
<body>

<div class="container"><div class="row"><div class="col-12">
    <h1>Diretivas</h1>
    <hr>

    <p>
        O Vue.js possui várias diretivas, também é possível criar diretivas personalizadas. <br />
        Em Vue.js as diretivas são códigos que são implementáveis dentro da tag html, e começam sempre com o prefixo <b>vs-</b>
        Ex de diretivas do Vue.js: <br />
        <ul>
            <li>
                v-for
            </li>
            <li>
                v-model
            </li>
            <li>
                v-if
            </li>
            <li>
                v-else
            </li>
        </ul>
    </p>
    <p>
        Ex: <br />
        <code>
            &ltdiv id='diretiva' -v-if='$instrucao'>&lt/div>
        </code>

    </p>

    <hr>

    <div id="app01">
        <h2>v-if</h2>
        <p>
            Para exibir o título vá no console do navegador e altere o valor de stauts para true:
        </p>
        <code>
            $ app01.status = true
        </code>
        <p>
            Show título: <b class="in_console" v-if="status">{{titulo}}</b>
        </p>
    </div> <!-- #app01 ::end::-->

    <hr>

    <div id="app02">
        <h2>v-show</h2>
        <p>
            Para exibir o título vá no console do navegador e altere o valor de stauts para true:
        </p>
        <code>
            $ app02.status = true
        </code>
        <p>
            Show título: <b class="in_console" v-show="status">{{titulo}}</b>
        </p>
        <p class='text-warning'>
            <span class="titulo">v-show VS v-if</span> <br />
            A diferença entre utilizar v-show e v-if neste cenário explicitamente é que com o v-if ele não
            renderiza o título quando status == false. <br />
            Com o v-show ele escreve o texto na tela, porém utiliza o css para não exibí-la, ou seja, o elemento
            existe em tela, só não é visível.
        </p>
    </div> <!-- #app02 ::end::-->

    <hr>

    <div id="app03">
        <h2>v-else</h2>
        <p>
            Para exibir o título vá no console do navegador e altere o valor de stauts para true:
        </p>
        <code>
                $ app03.status = true
        </code>
        <p>
            <b class="in_console" v-if="status">{{titulo}}</b>
            <strong class="in_console" v-else="status">Não há título.</strong>
        </p>
        <p class='text-tip'>
            Para utilizar if e else não é necessário que a tag if e else sejam do mesmo tipo.
        </p>
    </div> <!-- #app03 ::end::-->

    <hr>

    <div id="app04">
        <h2>Com dados mais próximos da realidade</h2>
        <p>
            Para exibir o conteúdo do else, no console do navegador altere o valor de usuario.id para 2:
        </p>
        <code>
            $ app04.usuario.id = 2
        </code>
        <p>
            <div class="in_console" v-if="usuario.id == 1">
                Id: {{usuario.id}}, <br />
                Nome: {{usuario.nome}}, <br />
                Profissão: {{usuario.profissao}}
            </div>
            <div class="in_console" v-else>
                Nenhum usuário com id igual a 1.
            </div>
        </p>
    </div> <!-- #app04 ::end::-->

    <hr>

    <div id="app05">
        <h2>v-for</h2>
        <div class="row">

            <div class="col-4">
                <p>
                    Linguagens - objeto:
                    <ul class="in_console">
                        <li v-for="linguagem in linguagens">{{linguagem}}</li>
                    </ul>
                </p>
            </div>

            <div class="col-4">
                <p>
                    Linguagens - acessando o atributo:
                    <ul class="in_console">
                        <li v-for="linguagem in linguagens">{{linguagem.nome}}</li>
                    </ul>
                </p>
            </div>

            <div class="col-4">
                <p>
                    Linguagens - imprimindo o index:
                    <ul class="in_console">
                        <li v-for="(l, index) in linguagens">{{index}} {{l.nome}}</li>
                    </ul>
                </p>
            </div>

        </div> <!-- .row ::end::-->
    </div> <!-- #app05 ::end::-->

</div><!-- .col-12 ::end::--></div><!-- .row ::end:: --></div><!-- .container ::end:: -->

<script src="https://unpkg.com/vue"></script>

<script>
    let app01 = new Vue({
        el: "#app01",
        data:{
            status: false,
            titulo: "Diretiva if"
        }
    })

    let app02 = new Vue({
        el: "#app02",
        data: {
            status: false,
            titulo: "Diretiva show"
        }
    })

    let app03 = new Vue({
        el: "#app03",
        data: {
            status: false,
            titulo: "Diretiva else"
        }
    })

    let app04 = new Vue({
        el: "#app04",
        data: {
            usuario:{
                id: 1,
                nome: 'Seya',
                profissao: 'Cavaleiro de Atena'
            }
        }
    })

    let app05 = new Vue({
        el: "#app05",
        data: {
            linguagens: [
                { nome: "Python" },
                { nome: "Go" },
                { nome: "JavaScript" },
                { nome: "PHP" },
                { nome: "C" }
            ]
        }
    })
</script>
</body>
</html>