body{
    background: #06406c;
    color:#FFF;
    padding: 30px 0px;
}
h1{
    color:#0593ff;
    text-align: center;
    margin-bottom: 20px;
}
h2{
    text-align: center;
    color:#CECE;
    margin-bottom: 15px;
}
hr{
    border-top:1px solid rgba(204, 185, 187, 0.34);
}
ul{
    list-style: none;

}
code{
    background-color: #000c;
    color: #FFF;
    font-style: normal;
    border-radius: 10px;
    color: lime;
    padding: 5px 15px;
    font-family: menlo, monospace;
    font-size:16px;
    display: -webkit-inline-box;
    margin: 5px 0px 10px 0px;
}
.in_console{
    color:yellow;
}
.text-warning{
    text-align: center;
    padding: 20px;
    border-left: 5px #920d0d solid;
    background: #00000082;
    margin-top: 20px;
    font-style: italic;
}
.text-warning .titulo,
.text-tip .titulo{
    display: -webkit-box;
}
.text-tip{
    color:#b1e3ec;
    text-align: center;
    padding:20px;
    border-left: 5px #17a2b8 solid;
    background: #17a2b840;
    margin-top: 20px;
    font-style: italic;
}
.in_realtime{
    color:lime;
    font-style: italic;
}

input[type='text'], textarea, select, button {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}